.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  flex: 1;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  background: linear-gradient(135deg, #3a3a3a, #f5f5f5); /* Fundo degradê de cinza escuro para cinza claro */
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 20px; /* Espaçamento interno */
  margin-bottom: 20px; /* Espaçamento entre as seções */
}
.about-section {
  display: flex;
  align-items: center;
  flex-direction: row; /* Para exibir lado a lado em telas maiores */
}

.about-section .text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Ajuste para espaço entre imagem e texto */
}

.about-text {
  margin: 5px 0;
}

.social-icons a {
  margin: 0 10px;
  color: #333;
  font-size: 24px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.custom-button {
  background: linear-gradient(45deg, #ff6f61, #de4313);
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.custom-button:hover {
  background: linear-gradient(45deg, #de4313, #ff6f61);
  transform: scale(1.05);
}

.nav-link-custom {
  cursor: pointer;
  color: white !important;
}

.is-current .nav-link-custom {
  color: #ff6f61 !important;
}

.custom-navbar {
  display: flex;
  align-items: center;
}

.navbar-brand-custom {
  display: flex;
  align-items: center;
}

.navbar-brand-custom,
.nav-link-custom {
  white-space: nowrap;
}

@media (max-width: 767px) {
  .navbar-brand-custom,
  .nav-link-custom {
    font-size: 0.9rem;
  }

  .custom-button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .about-section {
    flex-direction: column; /* Exibir em coluna em dispositivos móveis */
  }

  .about-section img {
    margin-bottom: 20px;
  }

  .main-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
