.welcome-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-modal-content {
    background-color: rgb(110, 114, 117);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h5 {
    margin-bottom: 20px;
  }
  
  .language-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .flag {
    width: 150px;
    height: auto;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .flag.show {
    opacity: 1;
  }
  
  .flag:hover {
    opacity: 0.8;
  }
  